.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.button-container {
  align-self: center;
  margin: 25px 0;
  justify-content: space-around;
}

.activities-container {
  align-self: center;
}

.activities {
  width: 42vw;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 5px 0;
}

.activities-span {
  text-align: center;
  padding: 5px;
}